img_menu RCDATA "src\\asserts\\menu.png"
img_papel RCDATA "src\\asserts\\papel.png"
img_loja RCDATA "src\\asserts\\loja.png"
img_luz RCDATA "src\\asserts\\luz.png"
img_search RCDATA "src\\asserts\\search.png"
bebida1 RCDATA "src\\asserts\\bebida1.jpg"
bebida10 RCDATA "src\\asserts\\bebida10.jpg"
bebida11 RCDATA "src\\asserts\\bebida11.jpg"
bebida2 RCDATA "src\\asserts\\bebida2.jpg"
bebida3 RCDATA "src\\asserts\\bebida3.jpg"
bebida4 RCDATA "src\\asserts\\bebida4.jpg"
bebida5 RCDATA "src\\asserts\\bebida5.jpg"
bebida6 RCDATA "src\\asserts\\bebida6.jpg"
bebida7 RCDATA "src\\asserts\\bebida7.jpg"
bebida8 RCDATA "src\\asserts\\bebida8.jpg"
bebida9 RCDATA "src\\asserts\\bebida9.jpg"
bbq RCDATA "src\\asserts\\bbq.png"
coffee RCDATA "src\\asserts\\coffee.png"
drinks RCDATA "src\\asserts\\drinks.png"
fast_food RCDATA "src\\asserts\\fast-food.png"
pie RCDATA "src\\asserts\\pie.png"
